.marquee {
    flex: 0 0 auto;
    min-width: var(--min-width, 100%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll var(--duration, 20s) linear var(--delay, 0s) var(--iteration-count, infinite);
    animation-play-state: var(--play, running);
    animation-delay: var(--delay, 0s);
    animation-direction: var(--direction, normal);
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.marquee-container {
    overflow: hidden; 
    width: 100%; 
}

@media screen and (max-width: 940px) {
    .marquee {
        animation: scroll var(--duration, 10s) linear var(--delay, 0s) var(--iteration-count, infinite);
        animation-play-state: var(--play, running);
        animation-delay: var(--delay, 0s);
        animation-direction: var(--direction, normal);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-200%);
        }
    }
}

